# Godot 4+ specific ignores
.godot/
/android/
/.godot
.godot/editor/editor_layout.cfg
.godot/editor/filesystem_cache8
.godot/editor/filesystem_update4
.godot/editor/project_metadata.cfg
.godot/editor/recent_dirs
.godot/editor/script_editor_cache.cfg
.godot/global_script_class_cache.cfg
.godot/imported/card_frame.png-98b47660bf818b0da7543102320821a5.md5
.godot/imported/card_frame_back.jpg-acccb987af65f6ef8eb97cc8f50dbff5.md5
.godot/uid_cache.bin
